header {
    font-size: larger;
    font-weight: bold;
    margin: 1em auto;
    text-align: center;
}

.section-divider {
    margin-top: 3em;
    border-left: 2px solid skyblue;
    height: 100vh;
    position: fixed;
 }
